@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@400;500;700&family=Yellowtail&display=swap');

body {

    font-family: 'Poppins', sans-serif;

}

.header_title {
    color: coral;
}

.header_width {
    width: 55% !important;
}

.header_bg {
    background-color: #FFF9F4 !important;
}